* {
    position: absolute;
}

body {
    width: 1024px;
    height: 768px;
    background-image: url('../images/background.jpg');
    padding: 0px 0px 0px 0px;
}

.darkblue {
    color: #005daa;
}

.patientprofile {
    position: absolute;
    left: 65px;
    top: 90px;
}

.gothamMedium {
    font-family: gothamMedium;
}

.contentLayer {
    padding: 0px 0px 0px 0px;
}


.home-btn, #home-btn {
    right: 118px;
    top: 52px;
}

.btn-home {
    left: 880px;
    top: 52px;
}

.home-btn-left, #home-btn-left, .home-btn-left-root {
    left: 770px;
    top: 52px;
}

.coverage-btn, #coverage-btn, .coverage-btn-root {
    left: 860px;
    top: 52px;
}

.onetouchlogo, .logo {
    left: 820px;
    top: 680px;
}