h1 {
    font-size: 40px;
}



.makestesting {
    position: absolute;
    top: 270px;
    left: 69px;
}

.simple {
    position: absolute;
    left: 69px;
    top: 315px;
}

.easytouse {
    position: absolute;
    left: 69px;
    top: 362px;
}

.findshighsandlows {

    position: absolute;
    left: 69px;
    top: 419px;
}

.onesteptagging {
    position: absolute;
    left: 69px;
    top: 477px;
}



.simpleapp_message {
    left: 459px;
    top: 177px;
    position: absolute;
    z-index: 10000;

}

.accuracy {
    position: absolute;
    left: 69px;
    top: 535px;
}

.accuracy_message {
    top: 217px;
    left: 459px;

}

.white {
    color: white;
}



.onscreenmessage {
    position: absolute;
    left: 463px;
    top: 304px;
}



.leftdot {
    position: absolute;
    left: 667px;
    top: 606px;
    display: none;
}

.rightdot {
    position: absolute;
    left: 685px;
    top: 606px;
    display: none;
}

.tinybloodsample {
    position: absolute;
    left: 550px;
    top: 200px;
}

.state1 {
    display: none;
}

.easytouse_state2 {
    position: absolute;
    left: 537px;
    top: 201px;
    display: none;
}


.state2 {
    display: none;
}

.profile {
    position: absolute;
    left: 200px;
    top: 300px;
    z-index: 10000;
}

.onscreenmessage_message {
    position: absolute;
    top: 400px;
    left: 600px;
}

.easytosync_message {
    top: 217px;
    left: 459px;
}

.easytouse_message {
    position: absolute;
    top: 217px;
    left: 458px;
    
}

.findshighsandlows_message {
    position: absolute;
    left: 590px;
    top: 410px;
    z-index: 1000;
}

.testingconvenience_message {
    position: absolute;
    left: 540px;
    top: 200px;
}


#chart {
	position: absolute;
	left:710px;
	top:442px;
}
