h1 {
    font-size: 26px;
}


.helpspatients {
    position: absolute;
    left: 69px;
    top: 247px;
}

.betweenfood {
    position: absolute;
    left: 69px;
    top: 282px;
}

.bloodglucoseresults {
    position: absolute;
    left: 69px;
    top: 317px;
}


.meter {
    position: absolute;
    top: 200px;
    left: 461px;
}


.compact {
    position: absolute;
    left: 69px;
    top: 367px;
}

.easytouse_message {
    position: absolute;
    top: 500px;
    left: 660px;
    z-index: 10;
}


.trusted {
    position: absolute;
    left: 69px;
    top: 427px;

}

.trusted_message {
    position: absolute;
    left: 515px;
    top: 230px;
    z-index: 10;
}

.trusted_pharmacist_message {
    
}

.offscreen {
	position:absolute;
	left:1024px;
}

#ruler_text {
	font-size: 21px;
	font-family: gothamMedium;
	color: #666666;
	left: 164px;
	top:10px;
	text-align: right;
	width:100px;
}



