h1 {
    font-size: 26px;
}


.helpspatients {
   position: absolute;
   left: 69px;
   top: 247px;
}

.betweenfood {
   position: absolute;
   left: 69px;
   top: 282px;
}

.bloodglucoseresults {
    position: absolute;
    left: 69px;
    top: 317px;
}


.meter {
    position: absolute;
    top: 200px;
    left: 431px;
}


.easytouse {
    position: absolute;
    left: 69px;
    top: 365px;
}

.easytouse_message {
    position: absolute;
    top: 500px;
    left: 625px;
    z-index: 10;
}

.mealflagging {
    position: absolute;
    left: 69px;
    top: 425px;
}

.mealflagging_message {
    position: absolute;
    left: 645px;
    top: 400px;
    z-index: 10;
}

.trusted {
    position: absolute;
    left: 69px;
    top: 485px;
}

.trusted_message {
    position: absolute;
    left: 575px;
    top: 200px;
}


