h1 {
    font-size: 40px;
}



.makestesting {
    position: absolute;
    top: 270px;
    left: 69px;
}

.simple {
    position: absolute;
    left: 69px;
    top: 315px;
}

.easytouse {
    position: absolute;
    left: 69px;
    top: 377px;
}

.findshighsandlows {

    position: absolute;
    left: 69px;
    top: 434px;
}

.onesteptagging {
    position: absolute;
    left: 69px;
    top: 492px;
}



.onesteptagging_message {

    position: absolute;
    top: 397px;
    left: 611px;
}

.accuracy {
    position: absolute;
    left: 69px;
    top: 550px;
}

.white {
    color: white;
}



.onscreenmessage {
    position: absolute;
    left: 474px;
    top: 304px;
}



.leftdot {
    position: absolute;
    left: 667px;
    top: 606px;
    display: none;
}

.rightdot {
    position: absolute;
    left: 697px;
    top: 606px;
    display: none;
}

.rightdot2 {
    left: 703px;
    top: 606px;
    display: none;
}

.tinybloodsample {
    position: absolute;
    left: 550px;
    top: 200px;
}

.state1 {
    display: none;
}

.easytouse_state2 {
    position: absolute;
    left: 537px;
    top: 201px;
    display: none;
}


.state2 {
    display: none;
}

.state3 {
    display: none;
}

.profile {
    position: absolute;
    left: 200px;
    top: 300px;
    z-index: 10000;
}

.onscreenmessage_message {
    position: absolute;
    top: 400px;
    left: 600px;
}

.easytouse_message {
    position: absolute;
    top: 380px;
    left: 590px;
}

.findshighsandlows_message {
    position: absolute;
    left: 614px;
    top: 410px;
    z-index: 1000;
}

.testingconvenience_message {
    position: absolute;
    left: 540px;
    top: 200px;
}

.verioiq_background {
    background-image: url(../images/iq_meter_white_bkgd.png);
}

.verioiq_background_illuminated {
    background-image: url(../images/iq_meter_illuminated_bkgd.png);
}

#chart {
	position: absolute;
	left:710px;
	top:442px;
}
